@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Smooth transition untuk slider */
#slider-wrapper {
  scroll-behavior: smooth;
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

/* Custom Scrollbar untuk estetika premium */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #d4d4d8;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa;
}

/* Animasi Transisi Halus */
.drawer-transition {
  transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}
